body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}
h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}
p{
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
a{
    color: #007BFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: #50b3a2;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
nav{
    float: right;
    margin-top: 10px;
}
nav a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
footer p{
    margin: 0;
}